body {
    background-color: black;
    padding-right: 15%;
}

#rechtsboven {
    color: white;

    float: right;
    margin: 10px;
    margin-right: 20px;
   
    width: 150px;
}

/*-----------------------------------------------------------------*/
/* BEGIN VAN DE DATUM FUNCTIE */
/*-----------------------------------------------------------------*/

#date {
    font-size: 25px;
    padding-bottom: 10px;
}

/*-----------------------------------------------------------------*/
/* EINDE VAN DE DATUM FUNCTIE */
/*-----------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/* BEGIN VAN DE KLOK FUNCTIE */
/*------------------------------------------------------------------*/

#clock {
    font-size: 60px;

    position: relative;
    white-space: nowrap;

    height: 150px;
}

#hour {
    position: absolute;
    background: white;
    border-radius: 10px;
    transform-origin: bottom;
    width: 1.8%;
    height: 30%;
    top: 20%;
    left: 49%;
    opacity: 0.8;
}

#minute {
    position: absolute;
    background: white;
    border-radius: 10px;
    transform-origin: bottom;
    width: 1.5%;
    height: 38%;
    top: 12%;
    left: 49%;
    opacity: 0.8;
}

#second {
    position: absolute;
    background: white;
    border-radius: 10px;
    transform-origin: bottom;
    width: 1%;
    height: 46%;
    top: 4%;
    left: 49%;
    opacity: 0.8;
}

/*------------------------------------------------------------------*/
/* EINDE VAN DE KLOK FUNCTIE */
/*------------------------------------------------------------------*/
