
body{
    background-color: black;
}
.wrapper{
    min-width: 750px;
    max-width: 10px;
    padding: 25px;
    border-radius: 200px;
    background: black;
    position: fixed;
    left: 50%;
    bottom: -150px;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    
}
.wrapper .keys{
    display: flex;
    justify-content: center;
}

.wrapper .keys input{
    height: 50px;
    min-width: 50px;
    padding: 10px;
    border-color:black;
    margin: 10px;
    color: white;
    border-radius: 200px;
    font-size: 20px;
    cursor: default;
    background-color: black;
    box-shadow: -3px -3px 7px white, 2px 2px 5px rgba(94, 104, 121,0.288 );

}
.wrapper .keys input:focus{
    font-size: 19px;
    color: rgb(68, 195, 233);
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121,0.288 );

}
.wrapper .keys input[value="SPACE"]{
    width: 60%;
}
